html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  background-color: lightgray;
}

section {
  min-height: 400px;
}

.d-flex {
  display: flex;
}

.d-flex.h-align-between {
  justify-content: space-between;
}

.d-flex.h-align-around {
  justify-content: space-around;
}

.d-flex.h-align-center {
  justify-content: center;
}

.d-flex.v-align-center {
  align-items: center;
}

#app-title {
  color: saddlebrown;
}

.bigger-logo {
  width: 300px;
  border-radius: 50%;
  margin: 5px auto;
}

#carouselExampleCaptions {
  width: 60%;
  margin: 5px auto;
}
